<div class="products">
  <div class="product" *ngFor="let product of products">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image">
    <h3 class="name">{{ product.name }}</h3>
    <p class="description">{{ product.description }}</p>


    <div class="bottom-elements">
      <p class="rating"><strong>Rating:</strong> {{ product.rating }}</p>
      <a [href]="product.link" target="_blank" class="view-product">View Product</a>
      <div class="share-buttons">
        <button (click)="shareToWhatsApp(product.name)">
          Share to WhatsApp
        </button>
        <button (click)="shareToTelegram(product.name)">
          Share to Telegram
        </button>
      </div>
    </div>
  </div>
</div>
